.mano-modelis .margin {
    background: blue;
    padding: 15px;
    width: 300px;
    height: 300px;
}

.mano-modelis .content {
    font-size: 1em;
    color: white;
    text-align: center;
    line-height: 270px;
    background-color: green;
}

.mano-modelis .padding {
    color: black;
    padding: 15px;
    width: 270px;
    height: 270px;
    background: black;
}