body {
    background-color: red;
}

h1,h2 {
    color: white;
    text-align: center;
}
h1 {
    background-color: purple;
    text-align: center;
}h2 {
     background-color: orange;
     text-align: center;
 }

p {
    font-family: verdana;
    font-size: 20px;
}
#myId {}
.my-class{width:100px;
    hight:100px;
} <!-- kai naudosime daugiau negu 1 karta rasom klase-->
                                    .my-class-2 {}
.red {background-color: red}
.blue {background-color: blue}
#menu div.my-class{

}